		<!-- /inner_content-->
        <div class="inner_content">
            <!-- /inner_content_w3_agile_info-->
            <div class="inner_content_w3_agile_info">
            

                    <div class="registration admin_agile">
                        
                                        <div class="signin-form profile admin">
                                            <h2>Forgot Password</h2>
                                            <div class="login-form">
                                                <form action="/forgotpassword" method="post">
                                                    <input type="text" name="email" placeholder="Email Address"/>
                                                    <input type="password" name="password" placeholder="Enter New Password"/>
                                                    <div class="tp">
                                                        <input type="submit" value="LOGIN">
                                                    </div>
                                                    
                                                </form>
                                            </div>
                                        
                                             
                                        </div>

            

            </div>
            <!-- //inner_content_w3_agile_info-->
        </div>
<!-- //inner_content-->
</div>
<!-- banner -->
<!--copy rights start here-->
<!-- <div class="copyrights">
<p>© 2017 Esteem. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
</div>	 -->
<!--copy rights end here-->
<!-- js -->
