
<!-- APP MAIN ==========-->
<main id="app-main" class="app-main">
	<div class="wrap">
	  <section class="app-content">
		  <div class="row">
			  <div class="col-md-12 col-sm-12">
				  <div class="widget p-md clearfix">
					  <div class="pull-left">
						  <h3 class="widget-title">Welcome to ScrollMantra</h3>
					  </div>
  
				  </div><!-- .widget -->
			  </div>
  
		  </div><!-- .row -->
  
		  <div class="row">
			  <div class="col-md-12">
				  <div class="widget">
					  <header class="widget-header">
						  <h4 class="widget-title">All Files</h4>
					  </header>
					  <hr class="widget-separator"/>
					  <div class="row">
						  <div class="col-sm-8">
							<input type="text" class="widget form-control" placeholder="Enter the Name of File" id="searchTerm"/>
						  </div>
						  <div class="col-sm-2">
							<input type="button" class="btn btn-primary" value="Search" id="search"/>
						  </div>
					  </div>

					  <div class="widget-body">
						  <div class="table-responsive">							
							  <table class="table no-cellborder" id="table">
								  <thead>
									  <tr>
										 <th>Name</th>
										  <th>Type</th>
										  <th>Bucket Name</th>
										  <th>Folder Name</th>
										  <th>File Name</th>
										  <th>Created At</th>
										  <th>Download</th>
										</tr>
								  </thead>
								  <tbody id="userlist">
								  </tbody>
							  </table>
						  </div>
					  </div>
				  </div><!-- .widget -->
			  </div><!-- END column -->
  
		  
		  </div><!-- .row -->
  
	  </section><!-- #dash-content -->
  </div><!-- .wrap -->
	<!-- APP FOOTER -->
	<div class="wrap p-t-0">
	  <footer class="app-footer">
		<div class="clearfix">
		  <div class="copyright pull-left">&copy; 2014-2021 | All Rights Reserved | Scroll Mantra </div>
		</div>
	  </footer>
	</div>
	<!-- /#app-footer -->
  </main>
  <!--========== END app main -->
  
  
  
<script>
document.addEventListener("DOMContentLoaded",()=>{

	fetch("/adminshowallfiles")
		.then(data => data.json())
		.then(result => {
		const list = document.querySelector("#userlist");
		result.map(res =>{
			const row = document.createElement('tr');
        row.innerHTML = `
                    <td>${res.username}</td>
                    <td>${res.extname}</td>
                    <td>${res.bucketname}</td>
					<td>${res.foldername}</td>
					<td>${res.filename}</td>
                    <td>${res.createdAt}</td>
					<td><a href="${res.test2}" class="btn btn-primary">Download</a></td>
                    `;
        list.appendChild(row);
		})

		})
})
document.getElementById("search").addEventListener("click",() => {
	let filename = document.getElementById("searchTerm").value;
	if(filename!=""){
		fetch(`/search/${filename}`)
			.then(result => result.json())
			.then(result => {
				const list = document.querySelector("#userlist");
				list.innerHTML =''
				console.log("test")
				console.log(result)
		result.map(res =>{
			const row = document.createElement('tr');
        row.innerHTML = `
                    <td>${res.username}</td>
                    <td>${res.extname}</td>
                    <td>${res.bucketname}</td>
					<td>${res.foldername}</td>
					<td>${res.filename}</td>
                    <td>${res.createdAt}</td>
					<td><a href="${res.test2}" class="btn btn-primary">Download</a></td>
                    `;
			console.log(row)
        list.appendChild(row);
		})

			})
	}else{
		alert("Please Search some data")
	}
})
</script>  