
<!-- APP MAIN ==========-->
<main id="app-main" class="app-main">
	<div class="wrap">
	  <section class="app-content">
		  <div class="row">
			  <div class="col-md-12 col-sm-12">
				  <div class="widget p-md clearfix">
					  <div class="pull-left">
						  <h3 class="widget-title">Welcome to ScrollMantra</h3>
					  </div>
  
				  </div><!-- .widget -->
			  </div>
  
		  </div><!-- .row -->
  
		  <div class="row">
			  <div class="col-md-12">
				  <div class="widget">
					  <header class="widget-header">
						  <h4 class="widget-title">All User</h4>
					  </header>
					  <hr class="widget-separator"/>
					  <div class="widget-body">
						  <div class="table-responsive">							
							  <table class="table no-cellborder">
								  <thead>
									  <tr>
										 <th>Name</th>
										  <th>Email</th>
										  <th>More Details</th>
										  <th>Delete User</th>
										</tr>
								  </thead>
								  <tbody id="userlist">
								  </tbody>
							  </table>
						  </div>
					  </div>
				  </div><!-- .widget -->
			  </div><!-- END column -->
  
		  
		  </div><!-- .row -->
  
	  </section><!-- #dash-content -->
  </div><!-- .wrap -->
	<!-- APP FOOTER -->
	<div class="wrap p-t-0">
	  <footer class="app-footer">
		<div class="clearfix">
		  <div class="copyright pull-left">&copy; 2014-2021 | All Rights Reserved | Scroll Mantra </div>
		</div>
	  </footer>
	</div>
	<!-- /#app-footer -->
  </main>
  <!--========== END app main -->
  
  
  
<script>
document.addEventListener("DOMContentLoaded",()=>{

	fetch("/showalluserstatus")
		.then(data => data.json())
		.then(result => {
			console.log(result)
		const list = document.querySelector("#userlist");
		result.map(res =>{
			const row = document.createElement('tr');
        row.innerHTML = `
                    <td>${res.name}</td>
                    <td>${res.email}</td>
					<td><a href="/user/${res.id}" class="btn btn-info">More Detail</a></td>
					<td><a href="/deleteuser/${res.id}" class="btn btn-danger">Delete User</a></td>
                    `;
        list.appendChild(row);
		})

		})
})

</script>  